@use "variables" as *;

slide-out-cart.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 460px;
  max-width: calc(100% - 60px);
  height: 100%;
  background: $color-white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1001;
  overflow: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;

  &.cart--open {
    transform: translateX(0);
    opacity: 1;
  }

  &.cart--open + .cart__overlay {
    opacity: 1;
    pointer-events: all;
  }

  // HEADER
  .cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-lg;
    border-bottom: 1px solid $color-grey;
    background: $color-white;
  }

  .cart__title {
    font-size: 1.25rem;
    font-weight: bold;
    color: $color-black;
    margin: 0;
  }

  .cart__close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    .cart__close-icon {
      width: 18px;
      height: auto;
    }
  }

  // ITEMS
  .cart__items {
    flex: 1;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: $spacing-lg;
  }

  .cart__item {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-lg;
    padding-bottom: $spacing-lg;
    border-bottom: 1px solid $color-grey;

    &__image-container {
      flex: 1;
      overflow: hidden;
      margin-right: $spacing-md;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: $spacing-md;
      font-weight: bold;
      margin-bottom: 0.25rem;
      color: $color-black;
    }

    &__price {
      font-size: 0.9rem;
      margin-bottom: 0.75rem;
      color: $color-orange;
    }

    &__quantity {
      font-size: 0.9rem;
      margin-bottom: 0.75rem;
      color: $color-black;
    }

    &__remove {
      background: none;
      border: none;
      color: $color-black;
      font-size: 0.8rem;
      cursor: pointer;
      padding: 0;
      text-align: left;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  // FOOTER
  .cart__footer {
    border-top: 1px solid $color-grey;
    padding: $spacing-md $spacing-xl;
    background: $color-white;
  }

  .cart__total {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    font-size: $spacing-md;
    font-weight: bold;
    margin-bottom: $spacing-md;
    color: $color-black;
  }

  .cart__checkout-btn {
    width: 100%;
    padding: 0.75rem;
    background: $color-orange;
    color: $color-white;
    border: none;
    border-radius: 30px;    
    font-weight: bold;
    margin-bottom: $spacing-sm;
    transition: background 0.2s ease;
  }

  .cart__continue-btn {
    width: 100%;
    padding: 0.75rem; 
    background: none;
    border: none;
    color: $color-black;
    font-size: 0.8rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      color: $color-black;
    }
  }

  
}

.cart__overlay {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

