@use "variables" as *;

.header {
  position: absolute; // overlays the page
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-lg;
  z-index: 1000;
  background: transparent;

  @media (min-width: $breakpoint-md) {
    padding: 3rem;
  }

}

.header__logo-img,
.header__cart-icon {
  height: 24px;
}

.header__cart-btn {
  background: none;
  border: none;
  cursor: pointer;
}
