@use "variables" as *;

.intro {
  max-width: 400px;
  width: 100%; 

  &__heading {
    font-size: $spacing-lg;
    margin-bottom: $spacing-xl;
  }

  &__text {
    font-size: $spacing-md;
    line-height: 1.2;
  }
}